<div style="margin: 16px;">
    <div style="display:flex; justify-content: space-between;">
        <div style="display:flex;">
            <h2> File Dashboard - &nbsp;</h2>
            <% if @documents && @documents.any? %>
                <% if @documents.count == 1%>
                    <h2> 1 File </h2>
                <% else %>
                    <h2><% @documents.count %> Files</h2>
                <% end%>
            <% else %>
               <h2>  No Files Found </h2>
            <% end %>
        </div>

        <div>
            <%= form_for(:document, url: documents_path, method: 'post') do |f| %>
                <%= f.label :file %> Upload
                <%= f.file_field :file , onchange: "this.form.submit();"%>
            <% end %>
        </div>
    </div>
    <% if @documents.any? %>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Upload Date</th>
                            <th>Size</th>
                            <th>Actions</th>
                            <th>Sharing</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @documents.each do |document| %>
                               <% if document.file.attached? %>
                                 <tr>
                                    <td><%= document.file.record.filename %></td>
                                    <td><%= document.file.record.created_at.strftime("%-d %b %Y %H:%M") %></td>
                                    <td>
                                        <%= link_to 'Download', document.file, download: '' %> |&nbsp;
                                        <%= link_to "Delete", document_path(document.key),
                                            data: {:confirm => 'Are you sure you want to delete?'}, 
                                            method: :delete %>
                                    </td>
                                    <td>
                                        <div>
                                            <%= form_for(:document, url: document_path(document.key), 
                                                method: 'patch') do |f| %>
                                                <div class="custom-control custom-switch">
                                                    <input class="custom-control-input" type="checkbox" 
                                                        onclick="this.form.submit();" value="1" <%= 'checked' if document.shared %>
                                                        name="document[shared]" id="share-<%= document.key %>"/>
                                                    <label class="custom-control-label" 
                                                        for="share-<%= document.key %>"></label>
                                                </div>
                                            <% end %>
                                            <% if document.shared %>
                                                <%= link_to "Link", document_path(document.key), target: :_blank %>
                                        <% end %>
                                        </div>
                                    </td>
                                </tr>
                               <% end %>
                        <% end %>
                    </tbody>
                </table>
            <% end %>
    
</div>